<!DOCTYPE html>
<!-- jinja2 template -->
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">

	<style>#tree .collapsed { display: none; }</style>

	<script type="text/javascript">
	function initialize() {
		var headers = document.getElementById("tree").getElementsByTagName("h");
		var length = headers.length;
		for (var i=0; i<length; ++i) {
			headers[i].addEventListener("click", function(event) {
				this.nextElementSibling.classList.toggle("collapsed");
				event.stopPropagation();
			});
		}
	}
	</script>
</head>

<body onload="initialize()">
	<ul id="tree">{% for node in blocks recursive %}
		<li><h>{{ node.title }}</h>
			{% if node.children %}
			<ul class="collapsed" >{{node.text}}
				{{ loop(node.children) }}
			</ul>
			{% else %}
			<div class="collapsed">{{node.text}}</div>
			{% endif %}
		</li>
	{% endfor %}</ul>
</body>

<foot> </foot>
</html>
